.auth-page {
  @include flex-center;
  background-color: rgb(241, 241, 241);
  min-height: 100vh;
  padding: 10px;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    padding: 0 10px 10px;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    user-select: none;
  }
  &__title {
    @include flex-center;
    height: 40px;
    font-size: 18px;
    text-align: center;
  }
  &__error-label {
    margin-top: 3px;
    font-size: 11px;
    color: red;
  }
  &__input-group {
    display: flex;
    height: 34px;
    font-size: 16px;

    &:not(:first-of-type) {
      margin-top: 5px;
    }
  }
  &__input {
    padding: 10px;
    flex: 1 0 0;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &--error {
      border-color: red;
    }
  }
  &__icon-wrapper {
    @include flex-center;
    height: 100%;
    color: grey;
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-left: none;
    font-size: 22px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &__icon {
  }
  &__submit-btn {
    border-radius: 3px;
    margin-top: 30px;
    background-color: rgb(97, 97, 218);
    color: white;
    font-size: 18px;
    padding: 5px;
  }
  &__footer {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: rgb(97, 97, 218);

    &:hover {
      text-decoration: underline;
    }
  }
}
