.chats-page {
  height: 100%;
  position: relative;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.142);
    border-bottom: 1px solid rgba(0, 0, 0, 0.183);
  }
  &__title {
    font-size: 18px;
    font-weight: 900;
  }
  &__logo {
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
  &__menu-wrapper {
    @include flex-center;
    position: relative;
  }
  &__open-menu-btn {
    font-size: 22px;
  }
  &__menu {
    position: absolute;
    top: 3px;
    right: 3px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
  }
  &__menu-btn {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    font-size: 15.5px;
    color: rgb(100, 99, 105);
    border-radius: 5px;

    &:hover {
      background-color: #f2f2f3;
      color: rgb(0, 0, 0);
    }
  }
  &__menu-btn-icon {
    font-size: 18px;
  }
  &__body {
    height: 100%;
    padding: 60px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid #000;
  }
  &__search-input-wrapper {
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid rgba(204, 199, 199, 0.088);
    background-color: rgba(177, 170, 170, 0.313);

    &--active {
      border: 2px solid rgb(51,144,236);
      background-color: rgb(255, 255, 255);

      & .chats-page__search-icon {
        color: rgb(51,144,236);
      }
    }
  }
  &__search-icon {
    font-size: 22px;
    color: rgb(112,117,121, 0.7);
  }
  &__search-input {
    flex: 1 0 0;
    background-color: transparent;

    &::placeholder {
      color: rgb(112,117,121, 0.7);
    }
  }
  &__loader, &__chats, &__load-more-btn {
    margin-top: 10px;
  }
  &__loader {
  }
  &__chats {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  &__load-more-btn {
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 26px;
    color: rgba(128, 128, 128, 0.721);
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.061);
    }
  }
}
