.loader {
  width: 30px;
  height: 30px;
  border: 3px solid grey;
  border-left-color: transparent !important;
  align-self: center;
  border-radius: 50%;
  animation: spinner-rotate 1s infinite;

  &--color--black {
    border-color: rgb(31, 33, 42);
  }
  &--color--grey {
    border-color: rgb(128, 128, 128);
  }
  &--color--white {
    border-color: rgb(255, 255, 255);
  }
  &--color--blue {
    border-color: rgb(51,144,236);
  }
  &--size--sm {
    width: 20px;
    height: 20px;
  }
  &--size--md {
    width: 30px;
    height: 30px;
  }
  &--size--lg {
    width: 50px;
    height: 50px;
  }
}
